<div class="text-center container pb-5">
    <h1>Edits Form</h1>
</div>
 
<form action="/form/edit-style/{{forms._id}}?_method=PUT" method="POST" enctype="multipart/form-data">

    <div class="col-md-8 container">
        <div class="container m-auto">

            <div class="form-row">

                <div class="col-md-12 mb-3">
                    <label for="validationServer02">Nombre Cliente</label>
                    <input type="text" value="{{forms.nombreCliente}}" class="form-control" id="validationServer02" placeholder="Coloque etiqueta de nombre cliente aquì.." name="nombreCliente">
                </div>

                <div class="col-md-12 mb-3">
                    <label for="validationServer02">Cluelar Cliente</label>
                    <input type="text" value="{{forms.celularCliente}}"  class="form-control" id="validationServer02" placeholder="Coloque etiqueta de celular cliente aquì.." name="celularCliente">
                </div>

                <div class="col-md-12 mb-3">
                    <label for="validationServer02">Correo Cliente</label>
                    <input type="text" value="{{forms.correoCliente}}"  class="form-control" id="validationServer02" placeholder="Coloque etiqueta de nombre cliente aquì.." name="correoCliente">
                </div>

                <div class="col-md-12 mb-3">
                    <label for="validationServer02">Direccion Cliente</label>
                    <input type="text" value="{{forms.direccionCliente}}"  class="form-control" id="validationServer02" placeholder="Coloque etiqueta de direccion cliente aquì.." name="direccionCliente">
                </div>

                <div class="col-md-12 mb-3">
                    <label for="validationServer02">Referencia Direccion Cliente</label>
                    <input type="text" value="{{forms.referenciaCliente}}" class="form-control" id="validationServer02" placeholder="Coloque etiqueta de Referencia cliente aquì.." name="referenciaCliente">
                </div>

                <div class="col-md-12 mb-3">
                    <label for="validationServer02">Boton antes del Formulario</label>
                    <input type="text" value="{{forms.botonAntes}}" class="form-control" id="validationServer02" placeholder="Coloque lo que dirá el boton antes del formulario aquí..." name="botonAntes">
                </div>

                <div class="col-md-12 mb-3">
                    <label for="validationServer02">Boton del Formulario</label>
                    <input type="text" value="{{forms.botonFinal}}" class="form-control" id="validationServer02" placeholder="Coloque lo que dirá el boton del formulario aquí..." name="botonFinal">
                </div>
             
            </div>

            <button class="col-md-12 btn btn-primary mt-3" type="submit"><b>Edits form para cliente</b></button>
            
        </div>
    </div>
</form>