<div class="container pb-4 pl-0">
    <h1>Alls Form</h1>
</div>
{{#if forms}}
    {{#each forms}}
        <div class="mb-2 float-right">
            <a class="btn btn-outline-success d-flex justify-content-center align-items-center" href="/form/edit-style/{{_id}}">Edits form</a>
        </div>
    {{/each}}
{{/if}}
{{#unless forms}}
    <div class="mb-2 float-right">
        <a class="btn btn-outline-success d-flex justify-content-center align-items-center" href="/form-style/add">News form</a>
    </div>
{{/unless}}
<table class="table table-bordered border-primary">
  <thead>
    <tr class="bg-success">
      {{!-- <th class="text-center" scope="col">#</th> --}}
      <th class="text-center" scope="col">Nombre Cliente</th>
      
      <th class="text-center" scope="col">Celular Cliente</th>

      <th class="text-center" scope="col">Correo Cliente</th>

      <th class="text-center" scope="col">Direccion Cliente</th>

      <th class="text-center" scope="col">Referencia Direccion Cliente</th>

      <th class="text-center" scope="col">Actions</th>
      

    </tr>
  </thead>
  <tbody>
    {{#each forms}}
    <tr>
      {{!-- <th class="text-center" scope="row">{{length}}</th> --}}

      

      <td class="text-center">{{nombreCliente}}</td>

      <td class="text-center">{{celularCliente}}</td>

      <td class="text-center">{{correoCliente}}</td>

      <td class="text-center">{{direccionCliente}}</td>

      <td class="text-center">{{referenciaCliente}}</td>

      <td width="30px">
        <div class="mr-2 d-flex justify-content-center align-items-center">
          {{!-- <div class="mr-2 d-flex justify-content-center align-items-center">  
              <a href="/configs/edit-style/{{_id}}" type="button" class="btn btn-outline-warning d-flex justify-content-center align-items-center">Edit Productest<a>
          </div> --}}
          <form method="POST" action="/form/delete-style/{{_id}}?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
          </form>

        </div>

      </td>

    </tr>
    {{/each}}
  </tbody>
</table>