<div class="container pb-4 pl-0">
    <h1>Alls Productest</h1>
</div>

<div class="btn btn-outline-success mb-2 float-right">
    <a class="nav-link" href="/products-style/add">Add Products</a>
</div>
<table class="table table-bordered border-primary">
  <thead>
    <tr class="bg-success">
      {{!-- <th class="text-center" scope="col">#</th> --}}
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">Categoria</th>
      <th class="text-center" scope="col">Nombre</th>
      <th class="text-center" scope="col">Precio</th>
      <th class="text-center" scope="col">Imagen Principal1</th>
      <th class="text-center" scope="col">Imagen Principal2</th>
      <th class="text-center" scope="col">Imagen Principal3</th>
      <th class="text-center" scope="col">Imagen Principal4</th>
      <th class="text-center" scope="col">Imagen Principal5</th>
      <th class="text-center" scope="col">Img Descripcion1</th>
      <th class="text-center" scope="col">Img Descripcion2</th>
      <th class="text-center" scope="col">Img Descripcion3</th>
      <th class="text-center" scope="col">Img Descripcion4</th>
      <th class="text-center" scope="col">Img Descripcion5</th>
      <th class="text-center" scope="col">Edit / Delete</th>

    </tr>
  </thead>
  <tbody>
    {{#each product}}
    <tr>
      {{!-- <th class="text-center" scope="row">{{length}}</th> --}}

      
      <td class="text-center" style="margin-bottom: 0; padding-bottom: 0;">{{@index}}</td>
      <td class="text-center">{{categoria}}</td>
      <td class="text-center">{{nombre}}</td>
      <td class="text-center">{{precio}}</td>
      <td class="text-center">

        <div class="d-flex justify-content-center"> 
          <img src="{{imagen1.secure_url}}" class="rounded-3" width="30" height="30" style="object-fit: cover">
          {{!-- <a href="{{imagen1.secure_url}}" target="_BLANK" type="button" class="btn btn-success mr-2">View Img1</a> --}}
          <form method="POST" action="/products/imgs1/{{_id}}?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                
                  <button id="botonBorrarImage" type="submit" style="margin-left: 10px; text-align: center; margin-top: -50px !important; width:20px; height:20px; border-radius: 50%; border: 1px solid transparent; background-color: red; color: white">x
                  </button>
               

          </form>

        </div>
      </td>
      <td class="text-center">

        <div class="d-flex justify-content-center"> 
          <img src="{{imagen2.secure_url}}" class="rounded-3" width="30" height="30" style="object-fit: cover">
          {{!-- <a href="{{imagen1.secure_url}}" target="_BLANK" type="button" class="btn btn-success mr-2">View Img1</a> --}}
          <form method="POST" action="/products/imgs2/{{_id}}?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                
                  <button id="botonBorrarImage" type="submit" style="margin-left: 10px; text-align: center; margin-top: -50px !important; width:20px; height:20px; border-radius: 50%; border: 1px solid transparent; background-color: red; color: white">x
                  </button>
               

          </form>

        </div>
      </td>
      <td class="text-center">

        <div class="d-flex justify-content-center"> 
          <img src="{{imagen3.secure_url}}" class="rounded-3" width="30" height="30" style="object-fit: cover">
          {{!-- <a href="{{imagen1.secure_url}}" target="_BLANK" type="button" class="btn btn-success mr-2">View Img1</a> --}}
          <form method="POST" action="/products/imgs3/{{_id}}?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                
                  <button id="botonBorrarImage" type="submit" style="margin-left: 10px; text-align: center; margin-top: -50px !important; width:20px; height:20px; border-radius: 50%; border: 1px solid transparent; background-color: red; color: white">x
                  </button>
               

          </form>

        </div>
      </td>
      <td class="text-center">

        <div class="d-flex justify-content-center"> 
          <img src="{{imagen4.secure_url}}" class="rounded-3" width="30" height="30" style="object-fit: cover">
          {{!-- <a href="{{imagen1.secure_url}}" target="_BLANK" type="button" class="btn btn-success mr-2">View Img1</a> --}}
          <form method="POST" action="/products/imgs4/{{_id}}?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                
                  <button id="botonBorrarImage" type="submit" style="margin-left: 10px; text-align: center; margin-top: -50px !important; width:20px; height:20px; border-radius: 50%; border: 1px solid transparent; background-color: red; color: white">x
                  </button>
               

          </form>

        </div>
      </td>
      <td class="text-center">

        <div class="d-flex justify-content-center"> 
          <img src="{{imagen5.secure_url}}" class="rounded-3" width="30" height="30" style="object-fit: cover">
          {{!-- <a href="{{imagen1.secure_url}}" target="_BLANK" type="button" class="btn btn-success mr-2">View Img1</a> --}}
          <form method="POST" action="/products/imgs5/{{_id}}?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                
                  <button id="botonBorrarImage" type="submit" style="margin-left: 10px; text-align: center; margin-top: -50px !important; width:20px; height:20px; border-radius: 50%; border: 1px solid transparent; background-color: red; color: white">x
                  </button>
               

          </form>

        </div>
      </td>
      <td class="text-center">

        <div class="d-flex justify-content-center"> 
          <img src="{{imgDescripcion1.secure_url}}" class="rounded-3" width="30" height="30" style="object-fit: cover">
          {{!-- <a href="{{imagen1.secure_url}}" target="_BLANK" type="button" class="btn btn-success mr-2">View Img1</a> --}}
          <form method="POST" action="/products/imgD1/{{_id}}?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                
                  <button id="botonBorrarImage" type="submit" style="margin-left: 10px; text-align: center; margin-top: -50px !important; width:20px; height:20px; border-radius: 50%; border: 1px solid transparent; background-color: red; color: white">x
                  </button>
               

          </form>

        </div>
      </td>
      <td class="text-center">

        <div class="d-flex justify-content-center"> 
          <img src="{{imgDescripcion2.secure_url}}" class="rounded-3" width="30" height="30" style="object-fit: cover">
          {{!-- <a href="{{imagen1.secure_url}}" target="_BLANK" type="button" class="btn btn-success mr-2">View Img1</a> --}}
          <form method="POST" action="/products/imgD2/{{_id}}?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                
                  <button id="botonBorrarImage" type="submit" style="margin-left: 10px; text-align: center; margin-top: -50px !important; width:20px; height:20px; border-radius: 50%; border: 1px solid transparent; background-color: red; color: white">x
                  </button>
               

          </form>

        </div>
      </td>
      <td class="text-center">

        <div class="d-flex justify-content-center"> 
          <img src="{{imgDescripcion3.secure_url}}" class="rounded-3" width="30" height="30" style="object-fit: cover">
          {{!-- <a href="{{imagen1.secure_url}}" target="_BLANK" type="button" class="btn btn-success mr-2">View Img1</a> --}}
          <form method="POST" action="/products/imgD3/{{_id}}?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                
                  <button id="botonBorrarImage" type="submit" style="margin-left: 10px; text-align: center; margin-top: -50px !important; width:20px; height:20px; border-radius: 50%; border: 1px solid transparent; background-color: red; color: white">x
                  </button>
               

          </form>

        </div>
      </td>
      <td class="text-center">

        <div class="d-flex justify-content-center"> 
          <img src="{{imgDescripcion4.secure_url}}" class="rounded-3" width="30" height="30" style="object-fit: cover">
          {{!-- <a href="{{imagen1.secure_url}}" target="_BLANK" type="button" class="btn btn-success mr-2">View Img1</a> --}}
          <form method="POST" action="/products/imgD4/{{_id}}?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                
                  <button id="botonBorrarImage" type="submit" style="margin-left: 10px; text-align: center; margin-top: -50px !important; width:20px; height:20px; border-radius: 50%; border: 1px solid transparent; background-color: red; color: white">x
                  </button>
               

          </form>

        </div>
      </td>
      <td class="text-center">

        <div class="d-flex justify-content-center"> 
          <img src="{{imgDescripcion5.secure_url}}" class="rounded-3" width="30" height="30" style="object-fit: cover">
          {{!-- <a href="{{imagen1.secure_url}}" target="_BLANK" type="button" class="btn btn-success mr-2">View Img1</a> --}}
          <form method="POST" action="/products/imgD5/{{_id}}?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                
                  <button id="botonBorrarImage" type="submit" style="margin-left: 10px; text-align: center; margin-top: -50px !important; width:20px; height:20px; border-radius: 50%; border: 1px solid transparent; background-color: red; color: white">x
                  </button>
               

          </form>

        </div>
      </td>

      <td width="30px">
        <div class="mr-2 d-flex justify-content-center align-items-center">
          <div class="mr-2 d-flex justify-content-center align-items-center">  
              <a href="/products/edit/{{_id}}" type="button" class="btn btn-outline-warning d-flex justify-content-center align-items-center">Edit Productest<a>
          </div>
          <form method="POST" action="/products/delete-style/{{_id}}?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
          </form>

        </div>

      </td>

    </tr>
    {{/each}}
  </tbody>
</table>